@charset "UTF-8";

/*
    #c5ebd6
    #83e1ad
    #3ddc84
    #2fa866
    #063d1e
*/

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face{
    font-family: 'Android';
    src: url(/fontes/idroid.otf) format('opentype');
    font-weight: normal;
}

*{
    margin: 0;
    padding: 0;
}

:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --font-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque:'Bebas Neue', cursive;
    --fonte-android: 'Android', cursive;
}

body {
    background-color: var(--cor0);
    font-family: var(--font-padrao);
}

header{
    background-color: var(--cor4);
}

header > h1 {
    color: white;
    font-family: var(--fonte-destaque);
}

header > p {
    color: white;
}

nav{
    background-color: var(--cor5);
}

main {

    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.575);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main h1 {
    color: var(--cor5);
    font-family: var(--fonte-android);
}

main h2 {
    color: var(--cor5);
    font-family: var(--fonte-android);
}

main img {
    width: 100%;
}

main img.pequena{
    width: 50%;
    display: block;
    margin: auto;
}

footer {
    background-color: var(--cor5);
    color: white;
}